/* css variables*/
:root {
    /* green-blue */
    /* --primary-color: #253847;
    --primary-color-light: rgba(30,165,125,255);
    --primary-color-light-2: #c0e5d5; */

    /* orange yellow */
    /* --primary-color: #e73600;
    --primary-color-light: #fe9321;
    --primary-color-light-2: #ffeeb8; */

    --primary-color: #2050bc;
    --primary-color-light: #0f3387;
    --primary-color-light-2: #cce9f5;

    --accent-color: #fe6a6b;
    --accent-color-light: #ffe4e4;
    --accent-color-dark: #b94b4c;
    --white-color: #fafbfc;
    --light-gray-color: #c6cbd1;
    --medium-gray-color: #959da5;
    --dark-gray-color: #444d56;
    --bg-color: #f8f8fa;
    --code-bg-color: #f0e8e8;
}

/* normalized */
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    background-color: #e8f8fd;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 1em;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    color: rgb(53, 140, 202);
}

a:hover {
    text-decoration: underline;
}

hr {
    padding: 1rem 0;
    border: 0;
    border-bottom: 1px solid var(--bg-color);
}

* {
    box-sizing: border-box;
}

/* code */
.code {
    border-radius: 3px;
    font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
    background: var(--bg-color);
    border: 1px solid var(--code-bg-color);
    color: var(--primary-color-light);
}

.code--block {
    white-space: pre-line;
    padding: 0 1.5rem;
}

.code--inline {
    padding: 3px 6px;
    font-size: 80%;
}

/* layout */
.wrapper {
    width: 85%;
    overflow-x: hidden;
}

@media screen and (min-width: 1408px) {
    .wrapper {
        max-width: 1344px;
    }
}
@media screen and (min-width: 1152px) {
    .container {
        max-width: 1152px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeUp2 {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
