/* hero section */
.hero_section_load {
    height: 500px !important;
    transition: height 2s !important;
}
.hero_section {
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
    padding: 2rem 0 10rem 0;
    position: relative;
    transition: height 2s;
}

.hero_section_image {
    background-image: url("img/cv-bg-1.jpg");
    background-size: cover;
    background-position: center center;
    transform: translate3d(0px, 0px, 0px);
}

.hero_section_bg_gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(
        0deg,
        rgba(44, 44, 44, 0.2),
        rgba(55, 140, 63, 0.6)
    ); */
    background: linear-gradient(
        0deg,
        rgba(44, 44, 44, 0.6),
        rgba(46, 72, 49, 0.9)
    );
}

.hero_title {
    font-weight: 900;
    color: var(--primary-color);
}

.hero_description {
    margin: -1rem auto 2rem auto;
}

.hero_cmd {
    width: 40%;
    margin: 5rem auto auto auto;
    text-align: left;
    color: white;
    border-radius: 5px;
    background-color: #232323;
    min-height: 285px;
    animation: fadeUp 2s;
    box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

.hero_cmd pre {
    white-space: pre-line;
    padding: 0rem 1rem 0 1rem;
}

.hero_cmd_header {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px 5px 0 0;
    background-color: var(--dark-gray-color);
}

.hero_cmd_header_circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 8px;
}

.hero_section_btn_off {
    width: 50px;
    height: 45px;
    border-radius: 50px;
    background: rgba(55, 140, 63, 0.8);
    position: absolute;
    bottom: -20px;
    left: calc(50% - 45px / 2);
    display: none;
    align-items: center;
    justify-content: center;
}
.hero_section_btn_off:hover {
    cursor: pointer;
}
.hero_section_btn_off i {
    font-size: 25px;
    color: white;
}
.hero_section_btn_off:hover i {
    animation: fadeUp2 1.5s infinite;
}

/* hero resume  */

.hero_section_resume {
    padding: 1rem !important;
    height: 180px !important;
    /* background-color: var(--primary-color-light) !important; */
    background-image: url("./img/back1.jpg");
    transition: height 2s, background-color 2s !important;
}

.hero_section_intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--bg-color);
    border-radius: 15px;
}

.hero_section_intro p {
    color: var(--bg-color);
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.hero_section_intro span {
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 400;
}
