.wrapper {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    margin-bottom: 1rem;
}
.columns {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 0.5rem;
}

.columns_hr {
    width: 5px;
    border-radius: 5px;
    margin: 0.75rem 0;
    background-color: var(--primary-color-light);
}

.column {
    position: relative;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

/* column to the left of cv */
.column_left {
    width: 25%;
    flex: none;
    min-width: 285px;
}

.column_left_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 98;
}

.column_left_avatar .avatar {
    width: 190px;
    height: 190px;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.column_left_avatar .avatar::after {
    content: "";
    border: 10px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: -17px;
    top: -17px;
    animation: pulsate 1.6s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 2;
}

.column_left_avatar .avatar img {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    width: 185px;
    height: 185px;
    object-fit: cover;
    z-index: 3;
}

.box_info {
    margin-top: 25px;
    background-color: var(--primary-color-light-2);
    border-radius: 15px 5px 4px 4px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.column_right .box_info {
    border-radius: 5px 15px 4px 4px;
}

/* box title pane */
.title_pane {
    background-color: var(--primary-color-light);
    border-radius: 15px 5px 1px 0px;
    padding: 7px;
    padding-right: 0;
    position: relative;
    display: flex;
}

.column_right .title_pane {
    border-radius: 5px 15px 0px 1px;
    padding-left: 0;
    padding-right: 7px;
}

.title_pane_border {
    width: calc(100% - 20px);
    border: 1px dashed var(--light-gray-color);
    border-radius: 13px 5px 1px 0px;
    padding: 3px;
}

.column_right .title_pane_border {
    border-radius: 5px 13px 0px 1px;
}

.title_pane_text {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
}

.title_pane_text i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    display: none;
}

.title_pane_circle_white {
    display: flex;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title_pane_circle_white .circle_white {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: var(--bg-color);
    position: relative;
}

.title_pane_circle_white .circle_white::before {
    content: "";
    position: absolute;
    right: -27px;
    top: -3px;
    width: 27px;
    height: 6px;
    background-color: transparent;
    border-radius: 100px / 50px;
    border: 3px dashed var(--primary-color);
}

.column_right .title_pane_circle_white .circle_white::before {
    left: -27px;
}

/* content of box */
.box_info_content {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.box_info_content ul li {
    margin-bottom: 0.35rem;
}
.box_info_content_item {
    margin-bottom: 1rem;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.box_info_content_item .icon_title {
    font-size: 24px;
    width: 25px;
    text-align: center;
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.box_info_content_item .progress_skill_title {
    flex-grow: 1;
    width: 100px;
    margin: 0;
}
.box_info_content_item .progress_skill {
    flex: 4 0 0;
    height: 5px;
    background-color: var(--primary-color-light-2);
    position: relative;
}

.box_info_content_item .progress_skill_bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-color);
}
